#Sidebar {
	width: 200px;
	position: absolute;
	top:200px;
	box-shadow: 2px 2px 5px black;
}
.Sidebar ul li{
	list-style-type: none;
	font-size: 24px;
	padding:5px;
}
.Sidebar
{
	padding-left: 8px;
	font-size: 27px;
}